Source: networkingadapter
Section: devel
Priority: optional
Maintainer: Thomas Willetal <t.willetal@gmail.com>
Build-Depends: cmake, debhelper (>= 11), gcc (>= 7.4),
               utilscpp-dev (>= 1.2.4), libgtest-dev, libdocopt-dev
Standards-Version: 4.3.0

Package: networkingadapter
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Development headers of the emtom
             networkingadapter

Package: networkingadapter-examples
Architecture: any
Section: libs
Depends: networkingadapter, libdocopt0
Description: Example applications of the emtom
             networkingadapter

Package: networkingadapter-dev
Architecture: any
Section: libdevel
Depends: networkingadapter,
         ${misc:Depends}
Description: Development headers of the embtom
             networkingadapter [development]

Package: networkingadapter-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    networkingadapter (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for networkingadapter

