Source: networkadapter
Section: devel
Priority: optional
Maintainer: Thomas Willetal <t.willetal@gmail.com>
Build-Depends: cmake, debhelper (>= 11), gcc (>= 7.4),
               utilscpp-dev (>= 1.2.4), libgtest-dev, libdocopt-dev
Standards-Version: 4.3.0

Package: networkadapter
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Development headers of the emtom
             networkadapter

Package: networkadapter-examples
Architecture: any
Section: libs
Depends: networkadapter, libdocopt0
Description: Example applications of the emtom
             networkadapter

Package: networkadapter-dev
Architecture: any
Section: libdevel
Depends: networkadapter,
         ${misc:Depends}
Description: Development headers of the embtom
             networkadapter [development]

Package: networkadapter-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    networkadapter (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for networkadapter

