Source: networkadapter
Section: devel
Priority: optional
Maintainer: Thomas Willetal <t.willetal@gmail.com>
Build-Depends: cmake, debhelper (>= 11), gcc (>= 7.4),
               utilscpp-dev (>= 1.2.4), libgtest-dev, libdocopt-dev
Standards-Version: 4.3.0

Package: networkadapter
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: C++ 17 posix abstraction layer for UDP and TCP Sockets
 This library provides simplified C++ posix sockets abstraction layer for
 TCP and UDP communication. It also contains a handy c++ endian converter, based
 on class member reflecion.
 .
 This package contains the networkadapter shared library.

Package: networkadapter-dev
Architecture: any
Section: libdevel
Depends: networkadapter,
         ${misc:Depends}
Description: C++ 17 posix abstraction layer for UDP and TCP Sockets
 This library provides simplified C++ posix sockets abstraction layer for
 TCP and UDP communication. It also contains a handy c++ endian converter, based
 on class member reflecion.
 .
 This package contains the networkadapter development files.

Package: networkadapter-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    networkadapter (= ${binary:Version}),
    ${misc:Depends}
Description: C++ 17 posix abstraction layer for UDP and TCP Sockets
 This library provides simplified C++ posix sockets abstraction layer for
 TCP and UDP communication. It also contains a handy c++ endian converter, based
 on class member reflecion.
 .
 This package contains the networkadapter debugging symbols.

Package: networkadapter-examples
Architecture: any
Section: libs
Depends: networkadapter, libdocopt0
Description: C++ 17 posix abstraction layer for UDP and TCP Sockets
 This library provides simplified C++ posix sockets abstraction layer for
 TCP and UDP communication. It also contains a handy c++ endian converter, based
 on class member reflecion.
 .
 This package contains example applications.